@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

/*
Cores:

Azul Escuro
#2d1b8b
#1a0d6b
#040046
#020031

Azul Claro
#C1F6FF
#A2F2FF
#88e8fb
#6EE2F5
#4cb7d2
*/

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #040046;
    font-family: "Actor", sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.header{
    background-color: #020031;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header_logo img{
    width: 20rem;
}

.header_components a{
    color: #FFF;
    font-size: 2.2rem;
    text-decoration: none;
    padding: 1rem;
}

.header_components a:hover{
    color: #4cb7d2;
}

#theme_button{
    background: none;
    border: none;
    cursor: pointer;
}

#theme_button img{
    width: 2rem;
}

main{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 15rem;
}

.welcome_text{
    align-content: center;
    color: #FFF;
    font-size: 1.5rem;
}

.welcome_text p{
    text-align: justify;
}

.welcome_text h1{
    font-size: 4rem;
}

.pictures img{
    width: 500px;
    border: 8px solid #FFF;
    border-radius: 60px;
}

.footer{
    background-color: #020031;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #FFF;
    padding: 1rem;
}

.light-mode {
    background-color: #E0FBFF;
}

.light-mode .header {
    background-color: #1A0D6B;
}

.light-mode .welcome_text {
    text-shadow: none;
    color: #020031;
}

.light-mode .welcome_text h1 {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.light-mode .pictures img {
    border: 8px solid #020031;
}