@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

/*
Cores:

Azul Escuro
#2d1b8b
#1a0d6b
#040046
#020031

Azul Claro
#A2F2FF
#88e8fb
#6EE2F5
#4cb7d2
*/

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #040046;
    font-family: "Actor", sans-serif;
}

.page_div{
    margin-top: 25%;
    margin-bottom: 50%;
}

.header{
    background-color: #020031;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header_logo img{
    width: 20rem;
}

.header_components a{
    color: #A2F2FF;
    font-size: 2.2rem;
    text-decoration: none;
    padding: 1rem;
}

.header_components a:hover{
    color: #4cb7d2;
}

.footer{
    background-color: #020031;
    text-align: center;
    color: #A2F2FF;
    padding: 1rem;
}